<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>My Library</h1>

    <ul>
        {% for book in books %}
            <li><a href="{{ url_for('delete', id=book.id) }}">Delete</a>{{book.title}} - {{book.author}} - {{book.rating}}/10 <a href="{{ url_for('edit', id=book.id) }}">Edit rating</a></li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('add') }}">Add new book</a>
</body>
</html>